include CHANGELOG.md
include LICENSE
include README.md

recursive-include kreuzberg *

recursive-exclude tests *
recursive-exclude test_documents *
recursive-exclude benchmarks *
recursive-exclude comparative-benchmarks *
recursive-exclude docs *
recursive-exclude dist *
recursive-exclude scripts *
recursive-exclude .github *
recursive-exclude .docker *
